services:
  manager:
    image: lagunovsky/ritualnetwork-infernet-manager:${INFERNET_MANAGER_VERSION:-1.3.0}
    build:
      context: src/infernet-manager
      args:
        INFERNET_MANAGER_VERSION: ${INFERNET_MANAGER_VERSION:-1.3.0}
    restart: on-failure
    healthcheck:
      test: curl --fail http://localhost:4000/health || exit 1
      retries: 1
      interval: 2m
      timeout: 1s
      start_period: 30s
    expose:
      - "4000"
    environment:
      - RPC_URL=${RPC_URL:-https://base.blockpi.network/v1/rpc/public}
      - REGISTRY=${REGISTRY:-0x3B1554f346DFe5c482Bb4BA31b880c1C18412170}
      - STARTING_SUB_ID=${STARTING_SUB_ID:-162500}
      - PRIVATE_KEY=${PRIVATE_KEY}
    volumes:
      - ./config/node.json:/app/config.draft.json
      - /var/run/docker.sock:/var/run/docker.sock
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - redis
    profiles:
      - node

  redis:
    image: redis:${REDIS_VERSION:-7.4.0}
    volumes:
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf
      - ./data/redis:/data
    profiles:
      - node

  deployer:
    image: lagunovsky/ritualnetwork-deploy-hello-consumer
    build:
      context: src/deploy-consumer
    command: ${DEPLOY_CONSUMER_COMMAND:-"for-free"}
    environment:
      - RPC_URL=${RPC_URL:-https://base.blockpi.network/v1/rpc/public}
      - REGISTRY=${REGISTRY:-0x3B1554f346DFe5c482Bb4BA31b880c1C18412170}
      - PRIVATE_KEY=${PRIVATE_KEY}
    profiles:
      - deploy
